<html>
  <head>
    <title>Thank You</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>   
        <h1>Feedback ({{feedback}}) received for sentence {{sentence}}: thanks!</h1>
  </body>
</html>
