<html>
  <head>
    <title>Sentiment Predictor</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>

    <div id="container">
    
      <div class="pagetitle">
        <h1>Predict Sentiment(Positive or Negative)</h1>
      </div>
    
      <div id="count">
        <form id="process", method="post" action="{{ url_for('submitted_form') }}">

          <!-- Enter text to process -->
          <label for="input_text">Type in your text:</label> <textarea name="input_text">Enter text here...</textarea><br />
		  <!--<input type="text" name="input_text">-->
          <input type ="submit" name="action" value="Predict">
        </form>
      </div>
    </div>
  </body>
</html>
