<html>
 <head>
   <title>Predicted Sentiment</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Text submitted</h1>
     </div>
     <div id="main">
       <p>Sentiment prediction</p>
        <strong>Input text</strong> &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp; {{sentence}} <br>
        <strong>Prediction</strong> (0 is negative, 1 is positive)&nbsp;&nbsp;: &nbsp;&nbsp;{{prediction}} <br><br /><br />
          <!-- Enter text to process -->
        <strong>Was Your Prediction right? </strong> <br>
        <form id="send_feedback", method="post" action="{{ url_for('feedback_received') }}">
          <input type="radio" name="feedback" value="1">right<br><!-- POSITIVE ANSWER -->
          <input type="radio" name="feedback" value="0">wrong<br><!-- NEGATIVE ANSWER -->
          <input type='hidden' name="sentence" value='{{sentence}}'><br>
          <input type ="submit" name="action" value="Send Feedback"> <br>
        </form>
       </p>
     </div>
   </div>
 </body>
</html>
